rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /protesis/{document} {
      allow read: if true; 
      allow create: if request.resource.data.paciente != null 
                    && request.resource.data.empresa != null;
      allow update: if true;
      allow delete: if false; 
    }
    match /smp/{document} {
      allow read: if true;
      allow write: if false; 
    }
  }
}
